body
{
    margin:0;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}
header
{
    background-color:#003580;
    padding: 1rem;
}
#header-top
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-top > a 
{
    font-size: x-large;
}

#header-bottom
{
    display:flex;
    gap:0.25rem;
}

.header-icons > img
{
    height:40%;
    width:40%;
    padding-right:0.25rem;
}
.header-icons
{
    height:2rem;
    width:4rem;
    font-size:x-small;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    background: transparent;
    border:none;
}

.header-icons:focus
{
    border:2px solid white;
    border-radius: 30px;
}

#header-top > a
{
    text-decoration: none;
    color:white;
}

#website-settings > a >img

{
    height:20px;
    width:20px;
} 

#question-mark
{
    background-color:transparent;
}

#uk-flag
{
    border-radius:50%;
}


#website-settings
{
    display: flex;
    margin:1rem;
    justify-content: space-around;
    align-items:center;
    gap: 0.25rem;
    
}

.button-type2
{
    border-color: dodgerblue;
    border-radius:5px;
    background-color:white;
    color:dodgerblue;
    height:2.5rem;
}

#button-type1
{
    border-radius:5px;
    border-color: white;
    background-color:#003580;
    color:white;
    height:2.5rem
}

#website-settings > a 
{
    text-decoration:none;
    color:white;
}